<%- include('../templates/layout-start', {title: title}) %>  

<div class=" vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Страница не найдена</h1>
    <a class="btn btn-sm btn-primary" href="/books">На главную</a>
</div>
    
<%- include('../templates/layout-end') %>