<%- include('../templates/layout-start', {title: title}) %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        
        <form method="POST" class="mt-5">
            <div class="form-group">
                <label for="usernameTitle">Имя</label>
                <input type="text"
                       name="username"
                       class="form-control"
                       id="usernameTitle">
            </div>
            <div class="form-group">
                <label for="passTitle">Пароль</label>
                <input type="password"
                       name="password"
                       class="form-control"
                       id="passTitle">
            </div>

            <div class="form-group text-right ">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>

        <div class="text-left">
            <p class="">Нет аккаунта?</p>
            <a href="/signup">Зарегистрируйтесь здесь</a>
        </div>

    </div>
</div>

<%- include('../templates/layout-end') %>